body,
html {
    margin: 0;
    user-select: none;
}

body {
    font-family: 'Noto Sans JP', 'BIZ UDGothic', sans-serif;
    color: #333333;

    margin-bottom: 5rem;

    background-image: url('./bukken_logo.webp');
    
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: top 80vh left 90vh;
}

#header {

    margin: 0px;
    height: 40%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 0%;
    background: linear-gradient(to bottom, transparent 0%, transparent 30%, #fff 100%), url(./big_poster_ch.webp);
    background-position: 0 75%;
}

#header h1 {
    color: #fff;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-weight: 800;
    font-size: 6em;
}

p {
    margin: 0;
}

#introduce {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    
}

#intro_sentence{
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.7);

    margin: 0 2vw;
}


#topic_container {
    background-color: rgb(255, 192, 167);
    margin: 2%;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
}


#browse_links {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 5em;
}

#X_link {
    background-color: #000000;
    color: #fff;
    position: relative;
    left: 0%;

    font: inherit;
    text-decoration: inherit;
    
    line-height: 2.5;
    width: 30%;
    border: 2px solid #ff5353;
    display: block;
    font-weight: bold;
    font-size: 4vh;
    max-width: 50%;
    padding: 0;
}
#X_link::before {
    position: absolute;
    left: 0;
    width: 0;
    top: 0;
    bottom: 0;
    content: "";
    background-color: #fff;
    mix-blend-mode: difference; /* difference（差分） */
    transition: 0.3s;
}

#X_link:hover::before, #X_link:focus-visible::before {
    width: 100%;
    box-shadow: #333333 2px 2px 13px 0px;
}

#works_link {
    background-color: #0099cc;
    color : white;
    position: relative;

    font: inherit;
    text-decoration: inherit;
    
    line-height: 2.5;
    width: 30%;
    border: 2px solid #ff5353;
    display: block;
    font-weight: bold;
    font-size: 4vh;
    max-width: 50%;
    padding: 0;
}

#works_link::before {
    position: absolute;
    left: 0%;
    width: 0;
    top: 0;
    bottom: 0;
    content: "";
    background-color: #fff;
    mix-blend-mode: difference; /* difference（差分） */
    transition: 0.3s;
}

#works_link:hover::before, #works_link:focus-visible::before {
    width: 100%;
    box-shadow: #333333 2px 2px 13px 0px;
}

#games_link {
    display: block;
    width: fit-content;
    min-width: 30%;
    text-align: center;
    margin: auto;

    background-color: #1b6600;
    color: #ffffff;
    position: relative;
    left: 0%;

    font: inherit;
    text-decoration: inherit;
    
    padding: 1rem 2rem;
    border: 2px solid #ff5353;
    font-weight: bold;
    font-size: 4vh;
}

#games_link::before {
    position: absolute;
    left: 0%;
    width: 0;
    top: 0;
    bottom: 0;
    content: "";
    background-color: #ffffff24;
    transition: 0.3s;
}

#games_link:hover::before, #games_link:focus-visible::before {
    width: 100%;
    box-shadow: #333333 2px 2px 13px 0px;
}

.topic {
    border-bottom: 1px solid #000;
    font-size: large;
}

.weak {
    color: gray;
    font-size: 0.8em;
}


@media screen and (max-width: 959px) {
	#header h1 {
        font-size: 2em;
    }
    #intro_sentence{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 480px) {
	#header h1 {
        font-size: 3em;
    }

    #browse_links {
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #X_link {
        max-width: none;
        width: 100%;
        margin-bottom: 10px;
    }
    #works_link {
        max-width: none;
        width: 100%;
    }
}