html{
    height: 100%;
    user-select: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: #333333;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: white;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#main_contents {
    flex: 7;
}
#sub_contents {
    flex: 2;
    height: 100%;

    position: sticky;
    top: 0;
    z-index: 2;
}

ul {
    list-style: none;
    padding-left: 0;
}

#contents {
    margin: 2% 3% auto 3%;
    padding: 3em;
    background-color: rgb(220, 255, 255);
    border-radius: 20px;
    width: 80%;
}

#contents li {
    height: 15em;
}

#contents li .toggleButton:hover {
    background-color: rgb(141, 235, 238);
    transition: 0.2s 0s all;
    transition-timing-function: ease-in;
}

#contents li details {
    background-color: cadetblue;
    margin-bottom: 9em;
    padding: 0.4em;
    border-width: 4px;
    width: 60%;
    height: 3em;
    border-color: black;
}

#contents li details[open] {
    background-color: rgb(141, 235, 238);

    height: 12em;
    margin: 0 auto auto 0;
    margin-bottom: 0em;
    padding: 0.4em;
    border-width: 4px;
    width: 60%;
    border-color: black;
    transition: 0.2s 0s all;
    transition-timing-function: ease-in;
}

#contents li a {
    font: inherit;
    color: inherit;
    text-decoration: inherit;
}

#contents li details summary {
    border: none;
    background-color: cadetblue;
    text-align: left;
    color: #fff;
    font-size: large;
    padding: 0.7em 4px;
    list-style: none;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.toggleOnContent .toggleButton {
    background-color: rgb(141, 235, 238);
    transition: 0.2s 0s all;
    transition-timing-function: ease-in;
}

#contents li p{
    margin-top: 0;
    margin-bottom: 0;
    
}

#contents li :hover p button {
    background-color: rgb(141, 235, 238);
}

#contents li details div {
    background-color: white;
    height: 8em;
    position: relative;
    display: flex;
    align-items: stretch;
}

#contents li details div section {
    flex: 7;

    padding: 5px;
    overflow-y: auto;
}

#contents li details div p {
    overflow: wrap;
}

#contents li details div a {
    flex: 3;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(49, 170, 226, 0.9) 50%);
    background-position: 3px 0;
    background-size: 200% auto;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contents li details div a p {
    font-size: larger;
    text-align: center;
    color: #333;
}

#contents li details div a:hover {
    background-position: -100% 0;
}

#contents li details div a:hover p {
    color: #fff;
}



.moving_img {
    position: fixed;
    z-index: 1;
    left: 60%;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

details ~ .moving_img img {
    transform: translateX(15vw);
    opacity: 0.0;
    transition: all 0.5s ease-in;
}
details[open] ~ .moving_img img {
    transform: translateX(0vw);
    opacity: 1.0;
    transition: all 0.5s ease-out;
}

#c0_pic {
    width: 40vw;
}

#pager {
    background-color: darkcyan;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 10% 2em;
}

#pager ul {
    background-color: azure;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 10%;
}

#pager ul li a {
    padding: 3px 5px;
}

.weak {
    font-size: 0.8em;
    color: gray;
}


@media screen and (max-width: 959px) {
	body {
        display: flex;
        flex-direction: column;
    }

    #main_contents {
        flex: none;
    }
    #sub_contents {
        flex: none;
        height: auto;
    
        position: static;
    }
    #pager {
        height: auto;
    }

    #contents {
        padding: 5%;
    }
}
@media screen and (max-width: 480px) {
	#contents {
        padding: 2%;
    }
}